@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a></a>
        </div>

        <div>
            @Body
        </div>
    </main>
</div>
