<div class="navbar-top-row">
    <a class="navbar-brand" href="">Checkers</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="navbar nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="navigation flex-column">
        <div class="nav-item">
            <a class="nav-bar-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Play
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-bar-link" href="friends">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Friends
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-bar-link" href="rules">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rules
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
