* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap; 
    width: 500px; 
    height: 500px;
    border: 3px solid black;
    transform-box: fill-box;
    transform-origin: center;
    transition: 1.5s all
}

.cell {
    width: 12.5%; 
    height: 12.5%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.checker {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.info-panel{
    height: 53vh;
    width: 350px; 
    padding: 20px; 
    background-color: #f8f9fa; 
    border: 2px solid #dee2e6; 
    border-radius: 8px;
}

.info-panel .checker {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
}

.game-container {
    display: flex; 
    gap: 150px; 
    align-items: center;
    position: absolute;
    top: 10;
    left: 500px;
}

.winner-panel {
    background: #f8f9fa; 
    border: 5px solid #dee2e6; 
    border-radius: 10px;
    padding: 20px; 
    z-index: 100; 
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}