* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 160px;
}

.board {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 500px; 
    height: 500px;
    transform-box: fill-box;
    transform-origin: center;
    transition: 1.5s all;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.cell {
    width: 12.5%; 
    height: 12.5%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    padding: 7px;
    position: relative;
}

.checker {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: all ease 2s;
}

.turn-color-span {
    position: absolute;
    left: 30px;
    top: 30px;
    font-weight: bold;
    font-size: 30px;
}

.info-panel { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px; 
    width: 300px; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
    background: #779556;
}

.info-panel .checker {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.25);
    background: #fff;
    margin-right: 10px;
}

.info-panel .SurrenderButton {
    align-self: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 40px;
    background-color: #bfe083;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.15);
}

.info-panel-title {
    font-weight: 800;
}